In [1]:
import pandas as pd

In [2]:
# 逆地理编码+修改直辖市/直辖县名称 --> Template
df = pd.read_csv('./data-temp/template.csv', encoding='utf-8')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42249 entries, 0 to 42248
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PM2.5(微克每立方米)  42249 non-null  float64
 1   PM10(微克每立方米)   42249 non-null  float64
 2   SO2(微克每立方米)    42249 non-null  float64
 3   NO2(微克每立方米)    42249 non-null  float64
 4   CO(毫克每立方米)     42249 non-null  float64
 5   O3(微克每立方米)     42249 non-null  float64
 6   U(m/s)         42249 non-null  float64
 7   V(m/s)         42249 non-null  float64
 8   TEMP(K)        42249 non-null  float64
 9   RH(%)          42249 non-null  float64
 10  PSFC(Pa)       42249 non-null  float64
 11  lat            42249 non-null  float64
 12  lon            42249 non-null  float64
 13  province       42249 non-null  object
 14  city           42249 non-null  object
dtypes: float64(13), object(2)
memory usage: 4.8+ MB

In [4]:
df1 = df[['province', 'city']]
df1.duplicated().sum()

41877

```
# 显示所有列
pd.set_option('display.max_columns', None)
# 显示所有行
pd.set_option('display.max_rows', None)
```

In [8]:
df1[df1.province.str.startswith('[]')]

Empty DataFrame
Columns: [province, city]
Index: []

In [11]:
df1[df1.city.str.startswith('[]')]

     province city
953       台湾省   []
1059      台湾省   []
1177      台湾省   []
1297      台湾省   []
1298      台湾省   []
...       ...  ...
4110      台湾省   []
4250      台湾省   []
4251      台湾省   []
4252      台湾省   []
4391      台湾省   []

[158 rows x 2 columns]

In [7]:
df1 = df1.drop(df1[df1['province'] == '[]'].index)

In [10]:
df1 = df1.drop(df1[(df1['city'] == '[]') & (df1['province'] != '台湾省')].index)

In [12]:
df = df.drop(df[df['province'] == '[]'].index)
df = df.drop(df[(df['city'] == '[]') & (df['province'] != '台湾省')].index)

In [13]:
df = df.groupby(['province', 'city']).mean()
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 370 entries, ('上海市', '上海市') to ('黑龙江省', '齐齐哈尔市')
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PM2.5(微克每立方米)  370 non-null    float64
 1   PM10(微克每立方米)   370 non-null    float64
 2   SO2(微克每立方米)    370 non-null    float64
 3   NO2(微克每立方米)    370 non-null    float64
 4   CO(毫克每立方米)     370 non-null    float64
 5   O3(微克每立方米)     370 non-null    float64
 6   U(m/s)         370 non-null    float64
 7   V(m/s)         370 non-null    float64
 8   TEMP(K)        370 non-null    float64
 9   RH(%)          370 non-null    float64
 10  PSFC(Pa)       370 non-null    float64
 11  lat            370 non-null    float64
 12  lon            370 non-null    float64
dtypes: float64(13)
memory usage: 41.9+ KB

In [14]:
df2 = pd.read_csv('./data-temp/CN-Reanalysis-daily-2013010300.csv', encoding='utf-8')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   province       370 non-null    object
 1   city           370 non-null    object
 2   PM2.5(微克每立方米)  370 non-null    float64
 3   PM10(微克每立方米)   370 non-null    float64
 4   SO2(微克每立方米)    370 non-null    float64
 5   NO2(微克每立方米)    370 non-null    float64
 6   CO(毫克每立方米)     370 non-null    float64
 7   O3(微克每立方米)     370 non-null    float64
 8   U(m/s)         370 non-null    float64
 9   V(m/s)         370 non-null    float64
 10  TEMP(K)        370 non-null    float64
 11  RH(%)          370 non-null    float64
 12  PSFC(Pa)       370 non-null    float64
 13  lat            370 non-null    float64
 14  lon            370 non-null    float64
dtypes: float64(13), object(2)
memory usage: 43.5+ KB