In [1]:
import pandas as pd

In [2]:
meitan = pd.read_csv('./data-temp/煤炭消费量.csv', encoding='GB2312')

In [3]:
jiaotan1 = pd.read_csv('./data-temp/焦炭生产量.csv', encoding='GB2312')
jiaotan2 = pd.read_csv('./data-temp/焦炭消费量.csv', encoding='GB2312')
qiyou1 = pd.read_csv('./data-temp/汽油生产量.csv', encoding='GB2312')
qiyou2 = pd.read_csv('./data-temp/汽油消费量.csv', encoding='GB2312')

In [4]:
df1 = pd.melt(meitan, id_vars=['地区'], var_name='年份')
df1.columns = ['prov', 'year', 'coal']

In [5]:
df2 = pd.melt(jiaotan1, id_vars=['地区'], var_name='年份')
df2.columns = ['prov', 'year', 'coke_pro']

In [6]:
df3 = pd.melt(jiaotan2, id_vars=['地区'], var_name='年份')
df3.columns = ['prov', 'year', 'coke_con']

In [7]:
df4 = pd.melt(qiyou1, id_vars=['地区'], var_name='年份')
df4.columns = ['prov', 'year', 'gasoline_pro']

In [8]:
df5 = pd.melt(qiyou2, id_vars=['地区'], var_name='年份')
df5.columns = ['prov', 'year', 'gasoline_con']

In [9]:
df = df1.merge(df2)
df = df.merge(df3)
df = df.merge(df4)
df = df.merge(df5)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162 entries, 0 to 161
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   prov          162 non-null    object
 1   year          162 non-null    object
 2   coal          162 non-null    float64
 3   coke_pro      162 non-null    float64
 4   coke_con      162 non-null    float64
 5   gasoline_pro  162 non-null    float64
 6   gasoline_con  162 non-null    float64
dtypes: float64(5), object(2)
memory usage: 10.1+ KB

In [11]:
df['year'] = df['year'].map(lambda x: str(x)[:-1])

In [12]:
df = df.sort_values(by="year", ascending=True)

In [13]:
df = df.reset_index(drop=True)

In [14]:
df

         prov  year      coal  coke_pro  coke_con  gasoline_pro  gasoline_con
0    新疆维吾尔自治区  2013  14205.50   2137.00   1110.05       2137.00        209.36
1         天津市  2013   5278.67    260.00    955.48        260.00        212.24
2         河北省  2013  31663.27   6382.00   8339.85       6382.00        347.55
3         山西省  2013  36636.51   9022.00   2145.59       9022.00        215.87
4      内蒙古自治区  2013  34915.72   3180.00   1800.65       3180.00        255.23
..        ...   ...       ...       ...       ...           ...           ...
157       甘肃省  2018   6819.03    385.38    476.83        385.38        202.48
158   宁夏回族自治区  2018  12711.22    736.54    578.06        736.54         18.77
159  新疆维吾尔自治区  2018  21790.02   1674.42    995.29       1674.42        297.83
160       山东省  2018  42319.48   4098.59   3509.52       4098.59        690.08
161       天津市  2018   3832.89    164.72    867.23        164.72        273.65

[162 rows x 7 columns]

In [ ]:
# df.to_csv('causes.csv', encoding='utf-8-sig', index=False)

In [15]:
df.to_json("causes.json", orient="split", force_ascii=False)

In [16]:
df.head(30)

        prov  year      coal  coke_pro  coke_con  gasoline_pro  gasoline_con
0   新疆维吾尔自治区  2013  14205.50    2137.0   1110.05        2137.0        209.36
1        天津市  2013   5278.67     260.0    955.48         260.0        212.24
2        河北省  2013  31663.27    6382.0   8339.85        6382.0        347.55
3        山西省  2013  36636.51    9022.0   2145.59        9022.0        215.87
4     内蒙古自治区  2013  34915.72    3180.0   1800.65        3180.0        255.23
5        辽宁省  2013  18132.77    2147.0   3201.31        2147.0        658.90
6        吉林省  2013  10413.74     489.0    719.77         489.0        178.94
7       黑龙江省  2013  13266.81     821.0    337.65         821.0        277.59
8        上海市  2013   5681.19     540.0    640.30         540.0        532.55
9        江苏省  2013  27946.07    2253.0   3190.61        2253.0        891.46
10       浙江省  2013  14161.26     296.0    446.18         296.0        706.14
11       安徽省  2013  15665.08     904.0   1049.41         904.0        319.33
12       福建省  2013   8078.64     167.0    655.38         167.0        409.56
13   宁夏回族自治区  2013   8533.51     705.0    417.96         705.0         20.04
14       山东省  2013  37683.44    4396.0   3680.29        4396.0        705.41
15       甘肃省  2013   6541.07     458.0    666.72         458.0        122.89
16       陕西省  2013  17247.95    3475.0    935.22        3475.0        220.98
17       云南省  2013   9783.09    1747.0   1347.57        1747.0        280.01
18       四川省  2013  11678.55    1400.0   1760.13        1400.0        818.47
19       重庆市  2013   5794.47     349.0    208.82         349.0        161.70
20       贵州省  2013  13650.74     891.0    423.46         891.0        195.40
21       广东省  2013  17106.78     178.0    585.02         178.0       1070.60
22       湖南省  2013  11223.84     652.0   1075.82         652.0        434.56
23       湖北省  2013  12166.72     943.0   1114.39         943.0        616.05
24       河南省  2013  25058.14    2766.0   1817.47        2766.0        556.92
25   广西壮族自治区  2013   7344.11     540.0    974.50         540.0        224.21
26       江西省  2013   7254.69     831.0    854.93         831.0        236.92
27      黑龙江省  2014  13595.53     803.0    194.07         803.0        314.28
28       安徽省  2014  15786.98     930.0   1064.73         930.0        352.68
29       浙江省  2014  13824.37     297.0    465.07         297.0        710.38