In [1]:
import pandas as pd
import glob
import re
import os

In [2]:
content = 'Hello 123 4567 World_This is a Regex Demo'
result = re.match('^Hello\s\d\d\d\s\d{4}\s\w{10}.*Demo$',content)
# ^符号匹配字符串开头，Hello开头的字符串写过来
# \s匹配任意的空白字符
# \d可以匹配任意的数字
# 后面有4567，写4个\d太麻烦了，\d{4}
# \w匹配字母或者下划线
# 后面一长串字符不想写了,直接用.来全部代替,匹配任意字符
# * 匹配0个或多个表达式
# .*可以匹配任意的字符除了换行符
# 用Demo$制定正则表达式的结尾
print(len(content))
print(result)
print(result.group())#返回匹配结果
print(result.span())#输出返回结果的范围

41
<re.Match object; span=(0, 41), match='Hello 123 4567 World_This is a Regex Demo'>
Hello 123 4567 World_This is a Regex Demo
(0, 41)

In [3]:
content = 'Hello 1234567 World_This is a Regex Demo'
result = re.match('^Hello\s(\d+)\sWorld.*Demo$',content)
print(result)
print(result.group())
print(result.group(1))  # 上面第一个d加了括号，把第一个括号里的内容取出来
print(result.span())

<re.Match object; span=(0, 40), match='Hello 1234567 World_This is a Regex Demo'>
Hello 1234567 World_This is a Regex Demo
1234567
(0, 40)

In [4]:
content = 'Hello 1234567 World_This is a Regex Demo'
result = re.match('^He.*(\d+).*Demo$',content)
# 开头直接不写全了，就^He后面直接.*
# 我们的目标用括号括起来
print(result)
print(result.group(1))  # 打印结果不是1234567，而是7，也就是说.*会尽可能多的匹配，把123456都匹配进去了，\d+至少会有一个

<re.Match object; span=(0, 40), match='Hello 1234567 World_This is a Regex Demo'>
7

In [5]:
content = './data-temp/CN-Reanalysis-daily-2013010100.csv'
result = re.match('.*(\d{8})\d{2}',content)
print(result.group(1))

20130101

In [6]:
content = './data-temp/CN-Reanalysis-daily-2013010100.csv'
result = re.match('.*(\d{8})(\d{2})',content)
print(result.group(1))
print(result.group(2))

20130101
00

In [7]:
def extract_date(string):
    match = re.match('.*(\d{8})\d{2}', string)
    if match != None:
        return match.group(1)

In [8]:
in_path = './data-temp'
path_ = []
for i in os.listdir(in_path):
    path = os.path.join(in_path, i)
    path_.append(path)

In [9]:
path_

['./data-temp\\CN-Reanalysis-daily-2013010100.csv',
 './data-temp\\CN-Reanalysis-daily-2013010200.csv',
 './data-temp\\CN-Reanalysis-daily-2013010300.csv',
 './data-temp\\daily.csv',
 './data-temp\\template.csv']

In [10]:
type(path_)

list

In [11]:
path = './data-temp'
allFiles = glob.glob(path+'/CN-Reanalysis-daily-201*.csv')
print(allFiles)

['./data-temp\\CN-Reanalysis-daily-2013010100.csv', './data-temp\\CN-Reanalysis-daily-2013010200.csv', './data-temp\\CN-Reanalysis-daily-2013010300.csv']

In [12]:
type(allFiles)

list

In [13]:
path = './data-temp'
allFiles = glob.glob(path+'/CN-Reanalysis-daily-201*.csv')
df_list = []
for file_ in allFiles:
    df = pd.read_csv(file_, index_col=None, header=0)
    df.columns = map(str.lower, df.columns)
    df['date'] = extract_date(file_)
    df_list.append(df)

In [14]:
df = pd.concat(df_list)

In [15]:
df.head()

,province,city,pm2.5(微克每立方米),pm10(微克每立方米),so2(微克每立方米),no2(微克每立方米),co(毫克每立方米),o3(微克每立方米),u(m/s),v(m/s),temp(k),rh(%),psfc(pa),lat,lon,date
0,上海市,上海市,73.768400,105.406800,42.533600,69.246400,1.592000,16.167200,5.578800,-0.040800,276.585200,63.680800,102374.963600,31.172800,121.420000,20130101
1,云南省,临沧市,25.521759,27.578333,8.968889,2.099907,0.294167,62.829259,2.473241,3.043981,284.202037,82.732407,83894.393333,23.934907,99.685833,20130101
2,云南省,丽江市,10.348989,11.545056,4.188764,2.734944,0.189213,65.888989,4.467640,0.941461,277.627978,60.219438,74367.928764,26.959888,100.515393,20130101
3,云南省,保山市,22.846588,24.944471,7.408941,3.031176,0.282824,62.948824,2.923529,1.507765,282.182471,82.275294,81815.787765,24.953176,98.961647,20130101
4,云南省,大理白族自治州,18.596565,20.494198,6.160840,3.004656,0.251069,64.491985,5.587939,2.083817,279.801985,71.500458,77957.550687,25.725878,100.052901,20130101

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1110 entries, 0 to 369
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   province       1110 non-null   object
 1   city           1110 non-null   object
 2   pm2.5(微克每立方米)  1110 non-null   float64
 3   pm10(微克每立方米)   1110 non-null   float64
 4   so2(微克每立方米)    1110 non-null   float64
 5   no2(微克每立方米)    1110 non-null   float64
 6   co(毫克每立方米)     1110 non-null   float64
 7   o3(微克每立方米)     1110 non-null   float64
 8   u(m/s)         1110 non-null   float64
 9   v(m/s)         1110 non-null   float64
 10  temp(k)        1110 non-null   float64
 11  rh(%)          1110 non-null   float64
 12  psfc(pa)       1110 non-null   float64
 13  lat            1110 non-null   float64
 14  lon            1110 non-null   float64
 15  date           1110 non-null   object
dtypes: float64(13), object(3)
memory usage: 147.4+ KB

In [17]:
df1 = pd.read_csv('./data-temp/CN-Reanalysis-daily-2013010100.csv', encoding='utf-8')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   province       370 non-null    object
 1   city           370 non-null    object
 2   PM2.5(微克每立方米)  370 non-null    float64
 3   PM10(微克每立方米)   370 non-null    float64
 4   SO2(微克每立方米)    370 non-null    float64
 5   NO2(微克每立方米)    370 non-null    float64
 6   CO(毫克每立方米)     370 non-null    float64
 7   O3(微克每立方米)     370 non-null    float64
 8   U(m/s)         370 non-null    float64
 9   V(m/s)         370 non-null    float64
 10  TEMP(K)        370 non-null    float64
 11  RH(%)          370 non-null    float64
 12  PSFC(Pa)       370 non-null    float64
 13  lat            370 non-null    float64
 14  lon            370 non-null    float64
dtypes: float64(13), object(2)
memory usage: 43.5+ KB