In [1]:
import pandas as pd
pd.set_option('display.max_rows', 5)

In [2]:
loc = pd.read_csv('./data-temp/CN-Reanalysis-daily-2013010100.csv', encoding='utf-8')
df = pd.read_csv('./data-temp/AQI_daily.csv', encoding='utf-8')

In [4]:
loc.drop(loc.columns[[2,3,4,5,6,7,8,9,10,11,12]], axis=1, inplace=True)

In [5]:
loc = loc.loc[~loc['province'].str.contains('台湾')]

In [8]:
loc.reset_index(inplace=True)

In [9]:
loc

     index province   city        lat         lon
0        0      上海市    上海市  31.172800  121.420000
1        1      云南省    临沧市  23.934907   99.685833
..     ...      ...    ...        ...         ...
367    368     黑龙江省    黑河市  49.267994  127.004389
368    369     黑龙江省  齐齐哈尔市  47.715327  124.570302

[369 rows x 5 columns]

In [11]:
df.drop(df.columns[[2,3,4,5,6,7,10]], axis=1, inplace=True)
df['date'] = pd.to_datetime(df['date'])

In [12]:
df

       province   city       date  AQI
0           上海市    上海市 2013-01-01   99
1           云南省    临沧市 2013-01-01   37
...         ...    ...        ...  ...
808477     黑龙江省    黑河市 2018-12-31   26
808478     黑龙江省  齐齐哈尔市 2018-12-31   33

[808479 rows x 4 columns]

In [13]:
lat = loc['lat']

In [14]:
lat[0]

31.1728

In [15]:
# day: 2191
lat_all = list()
for i in range(2191):
    for j in range(369):
        lat_all.append(lat[j])

In [17]:
df['lat'] = lat_all

In [19]:
lon = loc['lon']
lon_all = list()
for i in range(2191):
    for j in range(369):
        lon_all.append(lon[j])
df['lon'] = lon_all

In [20]:
df

       province   city       date  AQI        lat         lon
0           上海市    上海市 2013-01-01   99  31.172800  121.420000
1           云南省    临沧市 2013-01-01   37  23.934907   99.685833
...         ...    ...        ...  ...        ...         ...
808477     黑龙江省    黑河市 2018-12-31   26  49.267994  127.004389
808478     黑龙江省  齐齐哈尔市 2018-12-31   33  47.715327  124.570302

[808479 rows x 6 columns]

In [21]:
df.to_csv('temp.csv', encoding='utf-8-sig', index=False)

In [9]:
df = pd.read_csv('temp.csv', encoding='utf-8')

In [10]:
df

       province   city        date  AQI        lat         lon
0           上海市    上海市  2013-01-01   99  31.172800  121.420000
1           云南省    临沧市  2013-01-01   37  23.934907   99.685833
...         ...    ...         ...  ...        ...         ...
808477     黑龙江省    黑河市  2018-12-31   26  49.267994  127.004389
808478     黑龙江省  齐齐哈尔市  2018-12-31   33  47.715327  124.570302

[808479 rows x 6 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 808479 entries, 0 to 808478
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   province  808479 non-null  object
 1   city      808479 non-null  object
 2   date      808479 non-null  object
 3   AQI       808479 non-null  int64
 4   lat       808479 non-null  float64
 5   lon       808479 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 37.0+ MB

In [12]:
# 拆分df
temp1 = df.iloc[0: 369]
temp1

    province   city        date  AQI        lat         lon
0        上海市    上海市  2013-01-01   99  31.172800  121.420000
1        云南省    临沧市  2013-01-01   37  23.934907   99.685833
..       ...    ...         ...  ...        ...         ...
367     黑龙江省    黑河市  2013-01-01   27  49.267994  127.004389
368     黑龙江省  齐齐哈尔市  2013-01-01   26  47.715327  124.570302

[369 rows x 6 columns]

In [13]:
temp2 = df.iloc[369: 738]
temp2

    province   city        date  AQI        lat         lon
369      上海市    上海市  2013-01-02   76  31.172800  121.420000
370      云南省    临沧市  2013-01-02   35  23.934907   99.685833
..       ...    ...         ...  ...        ...         ...
736     黑龙江省    黑河市  2013-01-02   27  49.267994  127.004389
737     黑龙江省  齐齐哈尔市  2013-01-02   25  47.715327  124.570302

[369 rows x 6 columns]

In [42]:
df['date'] = pd.to_datetime(df['date'])
date = df['date'].drop_duplicates()

In [ ]:
date.reset_index()

In [47]:
date

0        2013-01-01
369      2013-01-02
            ...
807741   2018-12-30
808110   2018-12-31
Name: date, Length: 2191, dtype: datetime64[ns]

In [48]:
year = date.dt.year

In [49]:
year

0         2013
369       2013
          ...
807741    2018
808110    2018
Name: date, Length: 2191, dtype: int64

In [51]:
month = date.dt.month
day = date.dt.day

In [52]:
year = list(year)
month = list(month)
day = list(day)

In [53]:
len(day)

2191

In [55]:
year_ = year[2190]
month_ = month[2190]
day_ = day[2190]
print(f'{year_}' + f'{month_:02d}' + f'{day_:02d}')

20181231

In [25]:
path = './Data/calAQI/sepAQI_city_daily/'

In [57]:
path + f'{year_}' + f'{month_:02d}' + '/CN-Reanalysis-daily-' + f'{year_}' + f'{month_:02d}' + f'{day_:02d}' + '00.csv'

'./Data/calAQI/sepAQI_city_daily/201812/CN-Reanalysis-daily-2018123100.csv'

In [58]:
len(df.index)

808479

In [98]:
m = 0
n = 369
for i in range(2191):
    temp = df.iloc[m: n]  # 被拆分的一段
    m += 369
    n += 369

In [99]:
temp

,province,city,date,AQI,lat,lon,year,month,day
808110,上海市,上海市,2018-12-31,43,31.172800,121.420000,2018,12,31
808111,云南省,临沧市,2018-12-31,42,23.934907,99.685833,2018,12,31
...,...,...,...,...,...,...,...,...,...
808477,黑龙江省,黑河市,2018-12-31,26,49.267994,127.004389,2018,12,31
808478,黑龙江省,齐齐哈尔市,2018-12-31,33,47.715327,124.570302,2018,12,31

In [4]:
apprix_df = pd.DataFrame({
    'Name': ["Anish","Rabindra","Manish","Samir","Binam"],
    'Post': ["CEO","CTO","System Admin","Consultant","Engineer"],
    'Qualification':["MBA","MS","MCA","PhD","BE"]
})

print("Apprix Team DataFrame:")
print(apprix_df)

Apprix Team DataFrame:
       Name          Post Qualification
0     Anish           CEO           MBA
1  Rabindra           CTO            MS
2    Manish  System Admin           MCA
3     Samir    Consultant           PhD
4     Binam      Engineer            BE

In [6]:
apprix_1 = apprix_df.iloc[:2,:]
apprix_2 = apprix_df.iloc[2:,:]

print("The DataFrames formed by splitting of Apprix Team DataFrame are:")
print(apprix_1,"\n")
print(apprix_2)

The DataFrames formed by splitting of Apprix Team DataFrame are:
       Name Post Qualification
0     Anish  CEO           MBA
1  Rabindra  CTO            MS

     Name          Post Qualification
2  Manish  System Admin           MCA
3   Samir    Consultant           PhD
4   Binam      Engineer            BE

In [7]:
# groupby
# 根据 Qualification 列的值将 apprix_df 分成三部分；Qualification 列值相同的行将被放在同一个组中。
groups = apprix_df.groupby(apprix_df.Qualification)
ms_df = groups.get_group("MS")
mba_df = groups.get_group("MBA")
phd_df = groups.get_group("PhD")

print("Group with Qualification MS:")
print(ms_df,"\n")

print("Group with Qualification MBA:")
print(mba_df,"\n")

print("Group with Qualification PhD:")
print(phd_df)

Group with Qualification MS:
       Name Post Qualification
1  Rabindra  CTO            MS

Group with Qualification MBA:
    Name Post Qualification
0  Anish  CEO           MBA

Group with Qualification PhD:
    Name        Post Qualification
3  Samir  Consultant           PhD

In [8]:
# sample
# 从 apprix_df 中随机抽取 40% 的行，然后显示由抽取的行形成的 DataFrame
random_df = apprix_df.sample(frac=0.4, random_state=60)

print("Random split from the Apprix Team DataFrame:")
print(random_df)

Random split from the Apprix Team DataFrame:
    Name      Post Qualification
0  Anish       CEO           MBA
4  Binam  Engineer            BE