In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data-temp/PollutionType.csv', encoding='utf-8')

In [10]:
df['province'] = df['province'].map(lambda x: x.rstrip('省'))
df['province'] = df['province'].map(lambda x: x.rstrip('自治区'))
df['province'] = df['province'].map(lambda x: x.rstrip('特别行政区'))

In [13]:
df['province'] = df['province'].map(lambda x: x.rstrip('市'))
df['province'] = df['province'].map(lambda x: x.rstrip('回族'))
df['province'] = df['province'].map(lambda x: x.rstrip('壮族'))
df['province'] = df['province'].map(lambda x: x.rstrip('维吾尔'))

In [15]:
df

      province        date  Type
0           上海  2013-01-01  偏燃煤型
1           云南  2013-01-01   其他型
2          内蒙古  2013-01-01   其他型
3           北京  2013-01-01   其他型
4           台湾  2013-01-01   其他型
...        ...         ...   ...
72298       重庆  2018-12-31   其他型
72299       陕西  2018-12-31   其他型
72300       青海  2018-12-31   其他型
72301       香港  2018-12-31   标准型
72302      黑龙江  2018-12-31   标准型

[72303 rows x 3 columns]

In [16]:
len(df)

72303

In [17]:
df['Type']

0        偏燃煤型
1         其他型
2         其他型
3         其他型
4         其他型
         ...
72298     其他型
72299     其他型
72300     其他型
72301     标准型
72302     标准型
Name: Type, Length: 72303, dtype: object

In [18]:
df['Type'][0]

'偏燃煤型'

In [20]:
value = []
for i in range(len(df)):
    if df['Type'][i] == '其他型':
        value.append(0)
    elif df['Type'][i] == '标准型':
        value.append(1)
    elif df['Type'][i] == '偏二次型':
        value.append(2)
    elif df['Type'][i] == '偏沙尘型':
        value.append(3)
    elif df['Type'][i] == '偏机动车型':
        value.append(4)
    elif df['Type'][i] == '偏燃煤型':
        value.append(5)
    elif df['Type'][i] == '偏烟花型':
        value.append(6)
    elif df['Type'][i] == '偏钢铁型':
        value.append(7)

In [21]:
df['value'] = value

In [25]:
df.rename(columns={'province':'name', 'Type': 'type'}, inplace=True)

In [26]:
df

      name        date  type  value
0       上海  2013-01-01  偏燃煤型      5
1       云南  2013-01-01   其他型      0
2      内蒙古  2013-01-01   其他型      0
3       北京  2013-01-01   其他型      0
4       台湾  2013-01-01   其他型      0
...    ...         ...   ...    ...
72298   重庆  2018-12-31   其他型      0
72299   陕西  2018-12-31   其他型      0
72300   青海  2018-12-31   其他型      0
72301   香港  2018-12-31   标准型      1
72302  黑龙江  2018-12-31   标准型      1

[72303 rows x 4 columns]

In [28]:
df.to_json('CauseMap.json', orient='records', force_ascii=False)