In [1]:
import pandas as pd

In [2]:
# prov data
df1 = pd.read_csv('./data-temp/AQI_daily.csv', encoding='utf-8')
df2 = pd.read_csv('./data-temp/AQI_monthly.csv', encoding='utf-8')

In [3]:
df1.head(3)

,province,pm2.5,pm10,so2,no2,co,o3,date,AQI,Lv
0,上海市,73.768400,105.406800,42.533600,69.246400,1.592000,16.167200,2013-01-01,99,二级
1,云南省,27.068275,32.544532,11.662401,5.608646,0.448882,59.421960,2013-01-01,39,一级
2,内蒙古自治区,3.831791,5.107371,4.400595,2.568498,0.304605,47.037432,2013-01-01,24,一级

In [4]:
# df1['date'] = df1['date'].astype(str)
df1['date_'] = df1.date.apply(lambda x: int(x[0:4]+x[5:7]+x[8:10]))

In [5]:
df1.drop(['date'], axis='columns', inplace=True)
df1 = df1.rename(columns={'date_': 'date'})

In [6]:
df1.drop(['pm2.5','pm10','so2','no2','co','o3','Lv'], axis='columns', inplace=True)
df1.head(3)

  province  AQI      date
0      上海市   99  20130101
1      云南省   39  20130101
2   内蒙古自治区   24  20130101

In [8]:
df2.head(3)

,province,month,pm2.5,pm10,so2,no2,co,o3,AQI,Lv
0,上海市,2013-01,90.837135,98.366877,33.541794,59.150839,1.496465,31.554826,120,三级
1,上海市,2013-02,53.495900,60.697186,16.699600,32.592729,0.823357,56.077186,74,二级
2,上海市,2013-03,56.886026,83.154645,21.387613,47.625729,0.795832,60.840632,78,二级

In [9]:
df2.drop(['pm2.5','pm10','so2','no2','co','o3','Lv'], axis='columns', inplace=True)
df2.head(3)

  province    month  AQI
0      上海市  2013-01  120
1      上海市  2013-02   74
2      上海市  2013-03   78

In [11]:
df1.to_csv('AQI_daily_Gap.csv', encoding='utf-8-sig', index = False)
df2.to_csv('AQI_monthly_Gap.csv', encoding='utf-8-sig', index = False)