In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./data-temp/daily.csv', encoding='utf-8')  # city-daily

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810670 entries, 0 to 810669
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     810670 non-null  int64
 1   province       810670 non-null  object
 2   city           810670 non-null  object
 3   pm2.5(微克每立方米)  810670 non-null  float64
 4   pm10(微克每立方米)   810670 non-null  float64
 5   so2(微克每立方米)    810670 non-null  float64
 6   no2(微克每立方米)    810670 non-null  float64
 7   co(毫克每立方米)     810670 non-null  float64
 8   o3(微克每立方米)     810670 non-null  float64
 9   u(m/s)         810670 non-null  float64
 10  v(m/s)         810670 non-null  float64
 11  temp(k)        810670 non-null  float64
 12  rh(%)          810670 non-null  float64
 13  psfc(pa)       810670 non-null  float64
 14  lat            810670 non-null  float64
 15  lon            810670 non-null  float64
 16  date           810670 non-null  object
dtypes: float64(13), int64(1), object(3)
memory usage: 105.1+ MB

In [6]:
df.drop(df.columns[[0,14,15]], axis=1, inplace=True)

In [7]:
df['date'] = pd.to_datetime(df['date'])

In [8]:
df.rename(columns={'pm2.5(微克每立方米)':'pm2.5', 
                   'pm10(微克每立方米)':'pm10', 
                   'so2(微克每立方米)':'so2',
                   'no2(微克每立方米)':'no2',
                   'co(毫克每立方米)':'co',
                   'o3(微克每立方米)':'o3',
                   'u(m/s)':'U',
                   'v(m/s)':'V',
                   'temp(k)':'temp',
                   'rh(%)':'rh',
                   'psfc(pa)':'psfc'}, inplace=True)

In [9]:
df1 = df

In [10]:
df1['year'] = df1['date'].dt.to_period('Y')
df1['month'] = df1['date'].dt.to_period('M')

In [11]:
df1.head(3)

,province,city,pm2.5,pm10,so2,no2,co,o3,U,V,temp,rh,psfc,date,year,month
0,上海市,上海市,73.768400,105.406800,42.533600,69.246400,1.592000,16.167200,5.578800,-0.040800,276.585200,63.680800,102374.963600,2013-01-01,2013,2013-01
1,云南省,临沧市,25.521759,27.578333,8.968889,2.099907,0.294167,62.829259,2.473241,3.043981,284.202037,82.732407,83894.393333,2013-01-01,2013,2013-01
2,云南省,丽江市,10.348989,11.545056,4.188764,2.734944,0.189213,65.888989,4.467640,0.941461,277.627978,60.219438,74367.928764,2013-01-01,2013,2013-01

In [12]:
df2 = df1.groupby(['province','city','year'], 
                  as_index=False)[['pm2.5','pm10','so2','no2','co','o3','U','V','temp','rh','psfc']].mean()

In [13]:
df2.head(3)

,province,city,year,pm2.5,pm10,so2,no2,co,o3,U,V,temp,rh,psfc
0,上海市,上海市,2013,56.900274,74.923948,21.638148,40.291135,0.840812,61.143050,-1.069035,-0.871024,289.762556,73.667670,101601.170134
1,上海市,上海市,2014,49.158305,67.564199,17.930888,38.541208,0.761265,64.017287,-1.346656,-1.456547,289.304283,75.853396,101632.392347
2,上海市,上海市,2015,49.275272,65.485645,15.563773,38.810031,0.773898,66.972914,-1.183504,-1.253453,289.424598,75.654335,101663.662026

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2220 entries, 0 to 2219
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   province  2220 non-null   object
 1   city      2220 non-null   object
 2   year      2220 non-null   period[A-DEC]
 3   pm2.5     2220 non-null   float64
 4   pm10      2220 non-null   float64
 5   so2       2220 non-null   float64
 6   no2       2220 non-null   float64
 7   co        2220 non-null   float64
 8   o3        2220 non-null   float64
 9   U         2220 non-null   float64
 10  V         2220 non-null   float64
 11  temp      2220 non-null   float64
 12  rh        2220 non-null   float64
 13  psfc      2220 non-null   float64
dtypes: float64(11), object(2), period[A-DEC](1)
memory usage: 242.9+ KB

In [15]:
df3 = df1.groupby(['province','city','month'], 
                  as_index=False)[['pm2.5','pm10','so2','no2','co','o3','U','V','temp','rh','psfc']].mean()

In [16]:
df3.head(3)

,province,city,month,pm2.5,pm10,so2,no2,co,o3,U,V,temp,rh,psfc
0,上海市,上海市,2013-01,90.837135,98.366877,33.541794,59.150839,1.496465,31.554826,0.398116,-2.757471,277.686826,76.014258,102684.166323
1,上海市,上海市,2013-02,53.495900,60.697186,16.699600,32.592729,0.823357,56.077186,-2.297714,-2.714886,279.179000,83.063814,102528.775443
2,上海市,上海市,2013-03,56.886026,83.154645,21.387613,47.625729,0.795832,60.840632,-1.556013,-1.058852,283.192284,73.895239,101957.980271

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26640 entries, 0 to 26639
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   province  26640 non-null  object
 1   city      26640 non-null  object
 2   month     26640 non-null  period[M]
 3   pm2.5     26640 non-null  float64
 4   pm10      26640 non-null  float64
 5   so2       26640 non-null  float64
 6   no2       26640 non-null  float64
 7   co        26640 non-null  float64
 8   o3        26640 non-null  float64
 9   U         26640 non-null  float64
 10  V         26640 non-null  float64
 11  temp      26640 non-null  float64
 12  rh        26640 non-null  float64
 13  psfc      26640 non-null  float64
dtypes: float64(11), object(2), period[M](1)
memory usage: 2.8+ MB

In [2]:
list_of_dates = ['2019-11-20', '2020-01-02', '2020-02-05','2020-03-10','2020-04-16']
employees = ['Hisila', 'Shristi','Zeppy','Alina','Jerry']
df = pd.DataFrame({'Joined date': pd.to_datetime(list_of_dates)}, index=employees)
print(df)

        Joined date
Hisila   2019-11-20
Shristi  2020-01-02
Zeppy    2020-02-05
Alina    2020-03-10
Jerry    2020-04-16

In [3]:
df['Year'] = df['Joined date'].dt.year
df['Month'] = df['Joined date'].dt.month
df['Day'] = df['Joined date'].dt.day
# 转化为日期类型datetime64[ns]
df['Date'] = pd.to_datetime(df['Joined date'].dt.date)
print(df)

        Joined date  Year  Month  Day       Date
Hisila   2019-11-20  2019     11   20 2019-11-20
Shristi  2020-01-02  2020      1    2 2020-01-02
Zeppy    2020-02-05  2020      2    5 2020-02-05
Alina    2020-03-10  2020      3   10 2020-03-10
Jerry    2020-04-16  2020      4   16 2020-04-16

In [ ]:
df.groupby(df['date'].dt.to_period("M")).mean()

In [ ]:
df.set_index('date').resample('M').mean()

In [ ]:
# 将date列设为索引
df_new = df.set_index('date')

In [ ]:
# 把索引变成以年份为单位
df_new.index.to_period('A')

In [ ]:
# 按年份分组
df_new.groupby(df_new.index.to_period('A'))

In [ ]:
# 使用均值对每个列聚合
df_new.groupby(df_new.index.to_period('A')).mean()

In [ ]:
# 按月份聚合
df_new.groupby(df_new.index.to_period('M')).mean()