In [1]:
import pandas as pd
pd.set_option('display.max_rows', 5)

In [2]:
df = pd.read_csv('./data-temp/PollutionType.csv', encoding='utf-8')

In [3]:
df

      province        date  Type
0          上海市  2013-01-01  偏燃煤型
1          云南省  2013-01-01   其他型
...        ...         ...   ...
72301  香港特别行政区  2018-12-31   标准型
72302     黑龙江省  2018-12-31   标准型

[72303 rows x 3 columns]

In [4]:
prov = df['province']
prov = prov.drop_duplicates()
prov = list(prov)

In [5]:
len(prov)

33

In [7]:
df20130101 = df.iloc[0:33:1]

In [8]:
df20130101

   province        date  Type
0       上海市  2013-01-01  偏燃煤型
1       云南省  2013-01-01   其他型
..      ...         ...   ...
31  香港特别行政区  2013-01-01   其他型
32     黑龙江省  2013-01-01   其他型

[33 rows x 3 columns]

In [9]:
df20130101.to_csv('df20130101.csv', encoding='utf-8-sig', index=False)